       
    @import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:ital,wght@0,300;0,700;1,400&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:ital,wght@0,300;0,700;1,400&family=Lato&display=swap');

       body {
           background-color: #4d4f53;
           margin: 0;
           color: #ffffff;
           
       }
       
        ::-webkit-scrollbar {
           display: none;
       }
       
       .showcase::after {
           content: '';
           height: 100vh;
           width: 100%;
           background-image: url(concertCover.jpg);
           background-size: cover;
           background-repeat: no-repeat;
           background-position: center;
           display: block;
           filter: blur(10px);
           -webkit-filter: blur(10px);
           transition: all 1000ms;
           /*1 sec*/
       }
       
       p{
        font-family: 'Lato', sans-serif;
       }

       h3{
        font-family: 'Alegreya Sans SC', sans-serif;
       }

       .showcase:hover .content {
           filter: blur(2px);
           -webkit-filter: blur(2px);
       }
       
       .showcase:hover::after {
           filter: blur(0px);
           -webkit-filter: blur(0px);
       }
       
       .content {
           position: absolute;
           z-index: 1;
           top: 10%;
           left: 50%;
           margin-top: 105px;
           margin-left: -145px;
           width: 300px;
           height: 350px;
           text-align: center;
           transition: all 1000ms;
       }
       
       .content .title {
           /*Study rem value*/
           font-size: 2.2rem;
           margin-top: 1rem;
           font-family: 'Alegreya Sans SC', sans-serif;
           font-weight: bold;
       }
       
       .content .logo {
           height: 170px;
           width: 170px;
       }
       
       .content .text {
           line-height: 1.7;
           margin-top: 1rem;
           font-family: 'Lato', sans-serif;
           font-weight: normal;
       }
       
       .container {
           max-width: 960px;
           margin: auto;
           overflow: hidden;
           padding: 4rem 1rem;
       }
       
       .grid-3 {
           display: grid;
           /*There is going to be 3 columns with 1fr of size
            grid-template-columns: 1fr 1fr 1fr;
            But a best way to write this is..
            */
           grid-gap: 20px;
           grid-template-columns: repeat(3, 1fr);
       }
       
       .grid-2 {
           display: grid;
           grid-gap: 20px;
           grid-template-columns: repeat(2, 1fr);
       }
       
       .center {
           text-align: center;
           text-align: justify;
           margin: auto;
       }
       
       footer {
           padding: 2.2rem;
       }
       
       footer p {
           margin: 0;
       }
       
       .bg-light {
           background-color: #f4f4f4;
           color: #333;
       }
       /*Small screens*/
       
       @media(max-width: 560px) {
           .showcase::after {
               height: 50vh;
           }
           .content {
               top: 5%;
               margin-top: 5px;
           }
           .content .logo {
               height: 140px;
               width: 140px;
           }
           .content .text {
               display: none;
           }
           .grid-3,
           .grid-2 {
               grid-template-columns: 1fr;
           }
           .services div {
               border-bottom: #333 dashed 1px;
               padding: 1.2rem 1rem;
           }
       }
       /*Landscape*/
       
       @media(max-height: 500px) {
           .content .title,
           .content .text {
               display: none;
           }
           .content {
               top: 0;
           }
       }